.contact {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  h2 {
    font-weight: 300;
    font-size: 1.6rem;
    a {
      font-size: 2rem;
    }
  }
}

.resume {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: white;
    background: $green-primary;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
    font-size: 2.8rem;
    &:hover {
      filter: brightness(120%);
      box-shadow: 0 .5rem 1rem rgba($black, 0.3);
      transform: translateY(-5px);
    }
    &:active {
      transform: translateY(0);
      box-shadow: 0 0 0.2rem rgba($green-primary, 0.3);
    }
  }
}

.contact-me-button {
  position: absolute;
  top: 3rem;
  right: 3rem;
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  background: $green-primary;
  color: $white;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  &:hover {
    filter: brightness(110%);
    box-shadow: 0 0 3rem rgba($green-primary, 0.5);
  }
}

@media screen and (min-width: 1400px) {
  .contact {
    h2 {
      font-size: 3rem;
      a {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    margin-top: 12rem;
    font-size: 1.2rem;
    h2 {
      font-size: 1.6rem;
      a {
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .contact-me-button {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    top: 1rem;
  }
}

@media screen and (max-width: 512px) {
  .contact-me-button {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    top: 1rem;
    right: 1rem;
  }

  .contact {
    h2 {
      font-size: 1.4rem;
      a {
        font-size: 1.4rem;
      }
    }
  }
}
